html,
body {
  margin: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* defalut */
@layer base {
  html {
    @apply font-un;
  }
  h1 {
    @apply mt-6 text-6xl font-extrabold;
  }

  h2 {
    @apply mt-6 text-3xl font-extrabold;
  }

  h3 {
    @apply font-bold text-green-600;
  }

  h4 {
    @apply font-bold 2xl:text-4xl lg:text-2xl;
  }

  p {
    @apply text-sm;
  }

  button {
    @apply text-base font-medium text-white border border-transparent rounded-md outline-none;
  }

  input {
    @apply placeholder-gray-500 rounded-md appearance-none sm:text-sm;
  }

  nav {
    @apply flex-wrap text-base md:py-1 md:pl-4 border-x-2 md:border-gray-400 center;
  }
}

/* 공통 */
.main-color {
  @apply bg-green-600;
}

.wrap {
  @apply flex items-center justify-center;
}

.center {
  @apply flex items-center;
}

.label {
  @apply block text-sm font-medium;
}

.link {
  @apply font-medium text-green-400 cursor-pointer hover:text-lime-300;
}

.main {
  @apply h-screen overflow-y-hidden scrollbar-hide;
}

.logo {
  @apply w-10 h-10;
}

.logo-span {
  @apply ml-3 text-xl font-bold text-green-400;
}

/* Header */
.header-link {
  @apply mr-5 link text-lg font-bold;
}

.header-div {
  @apply fixed top-0 right-0 z-20 flex flex-row w-full text-center;
}

.header-bg {
  @apply flex-row flex-wrap items-center justify-between w-full p-5 mx-0 center;
}

.header-btn {
  @apply inline-flex items-center px-3 py-1 text-base border-0 outline-none md:mt-0;
}

/* SideMenu */
.side-div {
  @apply absolute right-0 h-screen space-y-6 text-black transition duration-300 ease-in-out transform bg-gray-100 w-96 rounded-l-xl drop-shadow-md;
}

.side-title {
  @apply text-3xl font-extrabold wrap rounded-tl-xl py-7;
}

.side-link {
  @apply py-2.5 px-10 hover:bg-green-400 transition duration-200 ease-in-out w-full p-0 flex items-start;
}

.side-exit {
  @apply flex w-full h-max items-center m-0 text-black outline-none py-2.5 px-10 hover:bg-green-400 transition duration-200 ease-in-out border-0 rounded-none;
}

/*Footer*/
.footer-div {
  @apply container flex-col justify-between mx-auto my-10 center;
}

/* BounceArrow */
.bounce-arrow {
  @apply absolute w-10 h-10 p-2 bg-transparent rounded-full wrap bottom-24 right-2/4 animate-bounce;
}

/* Intro */
.intro-div {
  @apply w-full h-screen bg-right bg-auto wrap;
}

.intro-section {
  @apply grid grid-cols-1 mt-6 md:grid-cols-1 lg:grid-cols-3 gap-x-6 gap-y-8;
}

.intro-article {
  @apply relative w-full h-32 overflow-hidden transition duration-300 ease-in-out bg-center bg-cover rounded-lg shadow-lg hover:shadow-2xl;
}

.intro-cardBack {
  @apply absolute inset-0 transition duration-300 ease-in-out bg-black bg-opacity-50 group-hover:opacity-75;
}

.intro-cardCenter {
  @apply relative w-full h-full px-4 wrap sm:px-6 lg:px-4;
}

.intro-span {
  @apply px-20 text-gray-600 2xl:text-6xl lg:text-3xl md:text-2xl sm:text-lg;
}

/* SearchPage */
.search-input {
  @apply w-full py-2 pl-10 pr-4 border rounded-md focus:border-green-500;
}

.card {
  @apply grid grid-cols-1 gap-6 mt-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
}

.card-div {
  @apply w-full max-w-sm mx-auto overflow-hidden duration-300 ease-in-out rounded-md shadow-md cursor-pointer xl:hover:scale-110;
}

.radio {
  @apply p-2 text-center cursor-pointer rounded-xl peer-checked:bg-green-500 peer-checked:text-white peer-checked:font-bold;
}

.card-img {
  @apply flex items-end justify-end w-full h-56 bg-cover;
}

/* UploadContainer */
.upload-container {
  @apply flex items-center justify-center w-screen h-screen bg-black bg-no-repeat md:items-center;
}

.upload-div {
  @apply w-10/12 mt-16 rounded-t-lg wrap h-3/5 backdrop-blur-md md:w-10/12 lg:w-6/12 md:h-4/6 lg:h-4/5 lg:rounded-2xl xl:h-4/5;
}

.drop-container {
  @apply flex flex-col items-center justify-center w-full h-full text-center bg-center bg-no-repeat bg-cover border-2 border-green-600 shadow-xl bg-gray-50 rounded-2xl hover:bg-gray-200;
}

.upload-text {
  @apply hidden py-6 font-bold text-white;
}

.upload-btnContainer {
  @apply flex flex-col items-center justify-around w-3/5;
}

.upload-btn {
  @apply items-center w-32 m-2 border-2 wrap hover:bg-green-700 h-9;
}

/* Accout Page */
.account-wrap {
  @apply flex-col flex-1 px-4 py-12 wrap sm:px-6 lg:flex-none lg:px-20 xl:px-24;
}

.account-input {
  @apply block w-full px-4 py-3 outline-green-500;
}

.account-error {
  @apply block w-full px-4 py-3 outline-red-500;
}

.account-input-box {
  @apply relative flex mt-1 rounded-md shadow-md;
}

.account-link {
  @apply pl-1 link text-lg font-bold;
}

.account-btn {
  @apply w-full px-5 py-2 wrap main-color hover:bg-green-700;
}

/* PlantDetail Page */
.plant-info-img {
  @apply object-cover object-center w-full mx-auto mb-6 rounded
  max-h-[500px] lg:w-1/2 lg:px-6 lg:mb-0 lg:max-w-lg lg:max-h-[500px] lg:ml-0 lg:min-h-[500px];
}

.plant-link {
  @apply flex-grow px-1 py-2 text-lg border-b-2 cursor-pointer;
}

.active-link {
  @apply font-bold text-blue-600 plant-link border-b-blue-600;
}

.plant-info-div {
  @apply flex py-2 border-t border-gray-200;
}

.buy-button {
  @apply flex px-6 py-2 mr-3 bg-green-500 hover:bg-green-600;
}

.like {
  @apply inline-flex ml-4 text-gray-600 bg-white outline-none;
}

/* modal */
.modal-div {
  @apply fixed top-0 w-screen h-screen overflow-hidden bg-gray-900 bg-opacity-70;
}

.modal-container {
  @apply flex items-end justify-center w-screen h-screen animate-fade-in-up-two md:items-center;
}

.modal-background {
  @apply relative flex flex-col items-center justify-center w-full transition duration-300 ease-in-out bg-white rounded-t-lg h-5/6 md:rounded-none md:w-8/12 md:h-4/5 lg:w-4/12 lg:h-3/4;
}

.modal-box {
  @apply relative flex flex-col items-center justify-center w-full h-full px-4 py-6;
}

.modal-btn {
  @apply top-0 right-0 text-gray-400 transition duration-150 ease-in-out rounded outline-none cursor-pointer hover:text-gray-600;
}

.modal-title {
  @apply h-10 mb-6 text-2xl font-bold leading-10 text-center;
}

.modal-text {
  @apply static top-0 text-base font-semibold sm:text-lg lg:text-lg;
}

.modal-img {
  @apply w-full my-3 overflow-hidden text-center border-0 rounded-md h-2/5 drop-shadow-2xl md:w-60;
}

.modal-next {
  @apply mb-4 text-sm font-semibold border-b-2 border-slate-300 md:text-xl;
}

.detail_Modal-title {
  @apply flex items-center h-5 pl-6 my-3 text-sm font-bold text-gray-800;
}

.detail_Modal-exit {
  @apply top-0 right-0 mr-6 font-bold text-gray-800 transition duration-150 ease-in-out rounded outline-none cursor-pointer hover:text-red-600;
}

.detail_Modal-box {
  @apply flex flex-col items-center lg:h-full lg:px-6 lg:flex lg:justify-between lg:w-2/4;
}

.detail_Modal-name {
  @apply mt-4 text-2xl font-bold leading-tight tracking-normal text-center text-gray-800 lg:mb-4;
}

.detail_Modal-li {
  @apply flex flex-row justify-between py-1 mb-3 list-none;
}

.detail_Modal-i {
  @apply inline-block w-4 h-4 mr-8;
}

.detail_Modal-line {
  @apply w-full my-4 border-b-2 border-gray-200 lg:my-0 lg:pl-6;
}

.detail_Modal-btnBox {
  @apply flex items-center justify-center w-full mt-8;
}

.detail_Modal-btn {
  @apply px-8 py-2 mb-4 ml-3 text-sm text-gray-600 transition duration-150 ease-in-out bg-gray-100 border rounded focus:ring-gray-400 hover:bg-gray-400;
}

/* My page */
.mypage_div {
  @apply flex items-center justify-center h-full mt-24 md:mt-0;
}

.mypage_Container {
  @apply flex flex-col items-center p-0 mt-0 rounded-lg lg:mt-6 lg:p-10 drop-shadow-lg;
}

.mypage_user {
  @apply flex flex-col items-center justify-center pt-6 sm:flex-row md:pt-20 lg:pt-6 sm:items-end lg:mt-0 sm:justify-start sm:flex;
}

.mypage_ImgBox {
  @apply flex-col items-center justify-between w-3/4 p-3 mt-10 border border-2 border-gray-400 rounded-xl;
}

.mypage_ImgContainer {
  @apply relative flex flex-col items-center justify-around w-full mt-3 sm:flex-row h-2/4 rounded-xl sm:px-0;
}

.mypage_ImgSet {
  @apply flex flex-col w-full md:flex-row md:justify-between md:items-start;
}

.mypage_Img {
  @apply object-fill w-full border-2 border-green-800 border-dashed md:w-96 md:h-96;
}

.mypage_TitleBox {
  @apply flex flex-col items-end w-full md:pl-5 h-2/4 lg:pl-0 lg:w-2/4;
}

.mypage_Title {
  @apply flex justify-center w-full mt-10 mb-2 text-lg font-medium md:justify-end md:mt-1;
}

.mypage_Ul {
  @apply flex items-center justify-center w-full lg:w-3/4;
}

.mypage_SelectedDiv {
  @apply flex-col items-center justify-between w-3/4 mt-10 h-2/4 sm:h-2/5;
}

.mypage_SelectedBox {
  @apply flex justify-around w-full h-full mt-3 border-2 border-gray-400 sm:h-3/4 rounded-xl;
}

.mypage_Card {
  @apply max-w-sm overflow-hidden bg-white rounded-md shadow-md cursor-pointer;
}

.selected_container {
  @apply mb-12 overflow-hidden overflow-x-scroll snap-x whitespace-nowrap mypage_SelectedBox x-scroll-style;
}
